body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Fredoka", sans-serif;
}

.page-container-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #df6e06 45%, #887660 100%);
}

.background-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./LogoNovo4.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.1; 
  z-index: 0;
}

.cadastro-form {
  position: relative;
  z-index: 2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 5vw;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.cadastro-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.brand-text-cadastro {
  display: flex;
  flex-direction: column;
  font-family: 'Rock Salt', cursive;
  color: #000;
  line-height: 1;
  margin-top: 10px;
}

.brand-title-cadastro {
  font-size: 24px;
  font-weight: bold;
}

.brand-subtitle-cadastro {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: auto;
}

.form-input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  font-size: 16px;
  outline: none;
}

.form-input::placeholder {
  color: #1f1b1b;
}

.buttons-container {
  display: flex;
  justify-content: space-between; /* separa um botão pra cada lado */
  gap: 10px; /* espaço entre os botões */
  margin-top: 16px; /* espaço entre os inputs e os botões */
}

.form-button {
  background-color: #facc15;
  color: #000;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button-voltar {
  background-color: #facc15;
  color: #000;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.form-button:hover {
  background-color: #eab308;
}

.form-error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

h1 {
  color: black;
  font-family: 'Rock Salt', cursive;
}

p {
  color: black;
}

.Cadastro {
  text-align: center;
}

.intro-text h1 {
  font-size: 24px;
  animation: fadeIn 1s ease-in-out;
}

.erro-senha {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cadastro-form {
  animation: fadeIn 1s ease-in-out;
}

.form-checkbox {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}